<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block title %}<title>twig template</title>{% endblock %}
    <!-- Favicon-->
    {% block icon %}
    <link rel="icon" href="{{ asset('asset/favicon.ico') }}" type="image/x-icon">
    {% endblock %}
    {% block fonts %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block css %}
    <!-- Bootstrap Core Css -->
    <link href="{{ asset('asset/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('asset/plugins/node-waves/waves.css') }}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('asset/plugins/animate-css/animate.css') }}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="{{ asset('asset/plugins/morrisjs/morris.css') }}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{ asset('asset/css/style.css') }}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset('asset/css/themes/all-themes.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body class="theme-red">
<!-- Page Loader -->
{% block preloader %}
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
{% endblock %}
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
{% block search_bar %}
{% include 'skeleton/searchbar.html.twig' %}
{% endblock %}
<!-- #END# Search Bar -->
<!-- Top Bar -->
{% block top_bar %}
{% include 'skeleton/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
{% include 'skeleton/sidebar.html.twig' %}
{% endblock %}
<section class="content">
    <div class="container-fluid">
        {% block content %}


        {% endblock %}
        </div>
</section>

<!-- Jquery Core Js -->
{% block js %}
<script src="{{ asset('asset/plugins/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core Js -->
<script src="{{ asset('asset/plugins/bootstrap/js/bootstrap.js') }}"></script>


<script src="{{ asset('asset/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset('asset/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{{ asset('asset/plugins/node-waves/waves.js') }}"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="{{ asset('asset/plugins/jquery-countto/jquery.countTo.js') }}"></script>

<!-- Morris Plugin Js -->
<script src="{{ asset('asset/plugins/raphael/raphael.min.js') }}"></script>
<script src="{{ asset('asset/plugins/morrisjs/morris.js') }}"></script>

<!-- ChartJs -->
<script src="{{ asset('asset/plugins/chartjs/Chart.bundle.js') }}"></script>

<!-- Flot Charts Plugin Js -->
<script src="{{ asset('asset/plugins/flot-charts/jquery.flot.js') }}"></script>
<script src="{{ asset('asset/plugins/flot-charts/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('asset/plugins/flot-charts/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('asset/plugins/flot-charts/jquery.flot.categories.js') }}"></script>
<script src="{{ asset('asset/plugins/flot-charts/jquery.flot.time.js') }}"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="{{ asset('asset/plugins/jquery-sparkline/jquery.sparkline.js') }}"></script>

<!-- Custom Js -->
<script src="{{ asset('asset/js/admin.js') }}"></script>
<script src="{{ asset('asset/js/pages/index.js') }}"></script>
{% endblock %}
{% block externalJs %}
{% endblock %}
</body>

</html>
